body {
    background-color:#cacfa9
}
div{
    margin:auto;
}

h1{
    font-size:1.5em;
    color:#004285;
}
.grant{
    text-align:center;
}
.button{
    background-color:#004285;
    color:white;
    padding:12px 28px;
    border-radius:8px;
}